{% extends 'base.html' %}

{% block content %}
    <p>Topic - {{ topic }}</p>
    <p><a href="{% url 'my_app:new_entry' topic.id %}">Add a new entry</a></p>
    <ul>
        {% for ele in entries %}
            <li>
                <p>{{ ele.date_added|date:'M d, Y'}}</p>
                <p>{{ ele.text|linebreaks }}</p>
                <p><a href="{% url 'my_app:edit_entry' ele.id %}">Edit entry</a> <a href="{% url 'my_app:delete_entry' ele.id%}">delete entry</a></p>
            </li>

        {% empty %}
            <li>No entries for this topic has been added yet!</li>
        {% endfor %}
    </ul>
{% endblock content %}